@font-face {
  font-family: "spartanmedium";
  src: url("./fonts/spartan-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "spartan";
  src: url("./fonts/spartan.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
